<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="专注为高考考生进行专业个性化推荐" />
	    <meta name="author" content="Qingfu Wen" />
	        <title>高考专业推荐</title>
		    <link href="./static/css/bootstrap.css" rel="stylesheet">
		        <link href="./static/css/datepicker.css" rel="stylesheet">
			    <script src="./static/js/jquery.js"></script>
			        <script src="./static/js/bootstrap-datepicker.js"></script>
				<style>
.main{
	      width: 960px;
	            margin: auto;
		          padding-top: 20px;
			        text-align: center;
				     
}
    </style>
    </head>
    <body>
        <header style="text-align:center">
		      <h1>欢迎使用419门禁查询系统</h1>
		          </header>
			      <div style="float:right;margin-right:120px">
				            <a href="/start">按始末时间显示</a>
					        </div>
						    <div class="main">
							          <form action="/" method="POST" class="form-inline">
									          <div class="input-append date" id="dpMonths"  data-date="{{this_month}}" data-date-format="yyyy-mm" data-date-viewmode="years" data-date-minviewmode="months">
											            <input class="span2" size="16" type="text" value="{{this_month}}"name='month' readonly="">
												              <span class="add-on"><i class="icon-calendar"></i></span>
													              </div>
														             
														              <button type="submit" class="btn btn-primary">确定</button>
															            </form>
																          <table class="table table-condensed table-hover">
																		          <thead>
																				            <tr>
																						                <th>#</th>
																								            <th>姓名(Name)</th>
																									                <th>卡号(CardID)</th>
																											            <th>出勤时间(Hours)</th>
																												              </tr>
																													              </thead>
																														              <tbody>
																															                {% for item in items %} 
																																	            {% if loop.index % 2 == 1 %}
																																		                    <tr class="info">
																																					                {% else %}
																																							                <tr class="warning">
																																										            {% endif %}    
																																											                  <td>{{loop.index}}</td>
																																													                <td>{{item[0]}}</td>
																																															              <td>{{item[1]}}</td>
																																																                    <td>{{item[2]}}</td>
																																																		                </tr>
																																																				          {% endfor %}
																																																					          </tbody>
																																																						        </table>
																																																							    </div>
																																																							        <script type="text/javascript">
    $('#dpMonths').datepicker();
        </script>
	    <footer style="text-align:center">
		            ©2014 清华大学软件学院信息系统与工程研究所
			        </footer>
				</body>
				</html>
				

