<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/main.css">
  </head>

  <body>
    <!--<div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a href="#">志愿填报推荐</a></li>
          <li><a href="#">高考生的福音</a></li>
        </ul>
        <ul class="pull-right">
          <li><a href="#">大数据系统分析</a></li>
          <li><a href="#">我福</a></li>
          <li><a href="#">小组小组真能干</a></li>
        </ul>
      </div>
    </div>-->

    <div class="jumbotron">
        <div class="container">
            <h1>为您量身定制的高考志愿推荐系统</h1>
            <p></p>
            <!--<a href="#">Start Now</a>-->
        </div>
        
    </div> 
    
    <div class="getinput">
        <form class="form-inline" method="POST">
            <div>
            <div class="form-group">
              <label for="provinceSelect">考区：</label>
              <select class="form-control" id="provinceSelect" name="province">
                <option value="北京">北京</option>
                <option value="浙江">浙江</option>
                <option value="天津">天津</option>
                <option value="安徽">安徽</option>
                <option value="上海">上海</option>
                <option value="福建">福建</option>
                <option value="重庆">重庆</option>
                <option value="江西">江西</option>
                <option value="山东">山东</option>
                <option value="河南">河南</option>
                <option value="湖北">湖北</option>
                <option value="湖南">湖南</option>
                <option value="广东">广东</option>
                <option value="海南">海南</option>
                <option value="山西">山西</option>
                <option value="青海">青海</option>
                <option value="江苏">江苏</option>
                <option value="辽宁">辽宁</option>
                <option value="吉林">吉林</option>
                <option value="河北">河北</option>
                <option value="贵州">贵州</option>
                <option value="四川">四川</option>
                <option value="云南">云南</option>
                <option value="陕西">陕西</option>
                <option value="甘肃">甘肃</option>
                <option value="黑龙江">黑龙江</option>
                <option value="广西">广西</option>
                <option value="宁夏">宁夏</option>
                <option value="新疆">新疆</option>
                <option value="内蒙古">内蒙古</option>
                <option value="西藏">西藏</option>
              </select>
            </div>
            <div class="form-group">
              <label for="optionsRadios1">类别：</label>
              <div class="radio">
                <label>
                  <input type="radio" name="category" id="optionsRadios1" value="理科" checked>
                  理科
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="category" id="optionsRadios2" value="文科">
                  文科
                </label>
              </div>
            </div>
            <div class="form-group">
                <label for="scoreInput">考分：</label>
                <input type="text" class="form-control" id="scoreInput" name="score">
            </div>
            <div class="form-group">
                <label for="scoreInput">性格：</label>
                <select class="form-control" id="provinceSelect" name="character">
                <option value=""></option>
                <option value="ISTJ">ISTJ</option>
                <option value="INFJ">INFJ</option>
                <option value="ISTP">ISTP</option>
                <option value="INFP">INFP</option>
                <option value="ESTJ">ESTJ</option>
                <option value="ENFJ">ENFJ</option>
                <option value="ESTP">ESTP</option>
                <option value="ENFP">ENFP</option>
                <option value="ISFJ">ISFJ</option>
                <option value="INTJ">INTJ</option>
                <option value="ISFP">ISFP</option>
                <option value="INTP">INTP</option>
                <option value="ESFJ">ESFJ</option>
                <option value="ENTJ">ENTJ</option>
                <option value="ESFP">ESFP</option>
                <option value="ENTP">ENTP</option>
              </select>
            </div>
            <button type="submit" class="btn btn-default">提交</button>
            </div>
            <div class="second-line">
              <div class="form-group">
                <label for="scoreInput">学校系数：</label>
                <input type="text" class="short-input form-control" name="school-ratio" value="{%if ratio%}{{ratio['school-ratio']}}  {% endif %}">
              </div>
              <div class="form-group">
                <label for="scoreInput">学术系数：</label>
                <input type="text" class="short-input form-control" name="academic-ratio" value="{%if ratio%}{{ratio['academic-ratio']}}{% endif %}">
              </div>
              <div class="form-group">
                <label for="scoreInput">就业系数：</label>
                <input type="text" class="short-input form-control" name="job-ratio" value="{%if ratio%}{{ratio['job-ratio']}}{% endif %}">
              </div>
              <div class="form-group">
                <label for="scoreInput">评价系数：</label>
                <input type="text" class="short-input form-control" name="comment-ratio" value="{%if ratio%}{{ratio['comment-ratio']}}{% endif %}">
              </div>
              <div class="form-group">
                <label for="scoreInput">性格系数：</label>
                <input type="text" class="short-input form-control" name="character-ratio" value="{%if ratio%}{{ratio['character-ratio']}}{% endif %}">
              </div>
            </div>
        </form>
        
    </div>


    <div class="showresults">
      <div class="container">
        {%if major_list%}
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>学校</th>
              <th>专业名称</th>
              <th>学校排名指数</th>
              <th>学术指数</th>
              <th>就业指数</th>
              <th>评价指数</th>
              <th>推荐指数</th>
            </tr>
          </thead>
          <tbody>
            {% for major in major_list %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{major.schoolName}}</td>
              <td>{{major.majorName}}</td>
              <td>{{major.finalScore}}</td>
              <td>{{major.finalScore}}</td>
              <td>{{major.finalScore}}</td>
              <td>{{major.finalScore}}</td>

              <td>{{major.finalScore}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
	  </div>
  </body>
</html>